.portfolio .portfolio-item {
    margin-bottom: 30px;
    overflow: hidden;
}

.portfolio #portfolio-filters {
    padding: 0;
    margin: 0 auto 25px auto;
    list-style: none;
    text-align: center;
    border-radius: 50px;
    padding: 2px 15px;
}

.portfolio #portfolio-filters li {
    cursor: pointer;
    display: inline-block;
    padding: 10px 15px;
    font-size: 17px;
    font-weight: 500;
    line-height: 1;
    text-transform: capitalize;
    color: white;
    margin-bottom: 5px;
    transition: all 0.3s ease-in-out;
}

.portfolio #portfolio-filters li:last-child {
    margin-right: 0;
}

.portfolio .portfolio-wrap .portfolio-info {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    z-index: 3;
    transition: all ease-in-out 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.portfolio .portfolio-wrap .portfolio-info h4 {
    font-size: 20px;
    color: #cda45e;
    font-weight: 600;
}

.portfolio .portfolio-wrap .portfolio-info p {
    color: #cda45e;
    font-size: 14px;
    text-transform: capitalize;
    padding: 0;
    margin: 0;
}

.portfolio .portfolio-item img {
    overflow: hidden;
    transition: 0.4s ease-in-out;
}

.portfolio .portfolio-item:hover img {
    transform: scale(1.1);
    opacity: 0.5;
}

.portfolio .portfolio-wrap:hover .portfolio-info {
    opacity: 1;
}

/* .portfolio #portfolio-filters li {
    cursor: pointer;
    display: inline-block;
    padding: 10px 15px;
    font-size: 17px;
    font-weight: 500;
    line-height: 1;
    text-transform: capitalize;
    color: #fff;
    margin-bottom: 5px;
    transition: all .3s ease-in-out;
} */

.gallery-hover-container {
    position: relative;
}

.gallery-hover-container:hover .image {
    opacity: 0.5;
}

.gallery-hover-container:hover .middle-text {
    opacity: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    width: fit-content;
    font-weight: bold;
    height: fit-content;
    margin: auto;
    font-family: "Playfair Display", serif;
    transition: opacity 1s;
}

.gallery-hover-container .middle-text {
    opacity: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    width: fit-content;
    font-weight: bold;
    height: fit-content;
    margin: auto;
    font-family: "Playfair Display", serif;
    transition: opacity 1s;
}

.padding-bottom-30 {
    padding: 30px 0;
}

.phone-gallery {
    display: none;
}

#photos #portfolio-filters li:hover,
#photos #portfolio-filters li.filter-active {
    color: #cda45e;
}

@media (max-width: 520px) {
    .phone-gallery {
        display: block;
    }

    .desktop-gallery {
        display: none;
    }
}

@media (max-width: 700px) {
    .portfolio-item img {
        border: 2.5px solid #cda45e;
    }

    .portfolio .portfolio-item:hover img {
        transform: none;
        opacity: 0.5;
    }

    .portfolio #portfolio-filters {
        margin: 0 auto 20px auto;
    }

    .portfolio #portfolio-filters li {
        padding: 6px 9px;
        font-size: 15px;
        margin-bottom: 4px;
    }
}